body {
  background-color: #61d2b4;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}

.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px #f8f398;
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #155263;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #ff5722;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #155263;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #155263;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  color: #155263;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 30px;
  color: #155263;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  margin: 0 auto;
  display: block;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #155263;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #155263;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
