body {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  font-family: "Roboto", sans-serif;
}

a {
  color: #1f6f78;
  font-weight: bold;
}

.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.8);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f96d00;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background-color: #93e4c1;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 30px;
  color: #1f6f78;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  color: #346357;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: #1f6f78;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #346357;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: bold;
  color: #346357;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  color: #346357;
  font-weight: bold;
}
footer {
  border-top: 1px solid #f96d00;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
